@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */
body, #root, .font-sans {
  min-height: 100vh;
  position: relative;
  margin: 0;
  overflow-x: hidden;
  background-color: #D2D2D2;
            background-image:
            repeating-linear-gradient(
                to right, transparent 0 100px,
                #25283b22 100px 101px
            ),
            repeating-linear-gradient(
                to bottom, transparent 0 100px,
                #25283b22 100px 101px
            );
  background-image: url('/bg.png'), url('/model.png');
  background-size: 100%, auto 130%; /* cover for bg.png, adjusted for model.png */
  background-position: center, top center; /* both centered */
  background-repeat: no-repeat, no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
} 

/* Navbar Styles */
.navbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  padding: 10px 20px;
  background-color: rgba(3, 0, 20, 0.09); /* Adjusted for visibility */
  backdrop-filter: blur(10px);
  border-radius: 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 4; /* Ensures it is above the StarCanvas */
}

.hero-context {
  font-family: 'ICA Rubrik', sans-serif;
  font-size: 4em;
  line-height: 1em;
  -webkit-text-stroke: 2px #d2d2d2;
}
.hero-context:hover{
  -webkit-text-stroke-color: red;
}
@media (min-width: 320px){
  hero-context {
    font-family: 'ICA Rubrik', sans-serif;
    font-size: 2em;
    line-height: 0.2em;
    -webkit-text-stroke: 2px #d2d2d2;
  }
}
.nav-container {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 5px 15px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  font-size: 1rem;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 0, 0, 0.632);
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.contact-button {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 10px 20px;
  z-index: 20;
}
